@import '../_config.all';

/* ======= Hero Section ======= */
.hero-section {
  height: 560px;
  width: 100%;
  background: $text-color;
  position: relative;

  .figure-holder-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  .figure-holder {
    position: relative;
    height: 560px;
    width: 100%;

    .figure-image {
      position: absolute;
      bottom: 0;
      right: 15px;
      z-index: 10;
    }
  }
}

.hero-carousel {
  color: #fff;
  height: 100%;
  width: 100%;

  .carousel-inner {
    background: black;
    width: 100%;
    height: 100%;

    .carousel-item {    
      background: black;
      overflow: hidden;
    //   background-position: center center;
    //   @include background-size(cover);
      opacity: 1;
      width: 100%;
      height: 100%;
    }

    .item-image {
      // height: 560px;
      // background-position: center center;
      object-fit: cover;
      opacity: 0.4;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .item-content {
        opacity:1;
    }

    .heading {
      font-size: 30px;
      line-height: 1.4;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .intro {
      font-size: 18px;
      & + .btn {
        margin-top: 15px;
      }
    }
  }
}
