{% if is_front and show_slideshow %}

  <div id="hero" class="hero-section">

    <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">

      <div class="figure-holder-wrapper">
        <div class="container">
          <div class="row justify-content-end">
            <div class="figure-holder">
              {% if slide_show_common_image %}
                <img class="figure-image img-fluid" src="{{ slide_common_image_path }}" alt="image"/>
              {% endif %}
            </div>
            <!--//figure-holder-->
          </div>
          <!--//row-->
        </div>
        <!--//container-->
      </div>
      <!--//figure-holder-wrapper-->

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
        <li data-slide-to="1" data-target="#hero-carousel"></li>
        <li data-slide-to="2" data-target="#hero-carousel"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        {% for slider_contents in slider_content %}
          <div class="carousel-item item-{{ loop.index }} {{ loop.index == 1 ? 'active' : '' }}">
            <img class="item-image" src="{{ slider_contents.slide_imgsrc }}" alt="slide image">

            <div class="item-content container">
              <div class="item-content-inner">
                <h2 class="heading">{{ slider_contents.slide_title }}</h2>
                <p class="intro">{{ slider_contents.slide_description }}</p>
                <a class="btn btn-primary btn-cta" href="{{ slider_contents.slide_url }}" target="_blank">Download Now</a>
              </div>
              <!--//item-content-inner-->
            </div>
            <!--//item-content-->


          </div>
          <!--//item-->
        {% endfor %}


      </div>
      <!--//carousel-inner-->

    </div>
    <!--//carousel-->
  </div>
  <!--//hero-->

{% endif %}
