//*************************** Theme Colours****************************/
// Define theme colour scheme
$color-primary: #40babd;
$text-color: #494d55;
$text-color-secondary: lighten($text-color, 10%);
$text-grey: lighten($text-color-secondary, 25%);
$light-grey: #c3c3c3;
$smoky-white: #f5f5f5;
$divider: #f3f3f3; 

$color-green: #75c181;
$color-blue: #58bbee;
$color-orange: #F8A13F;
$color-pink: #EA5395;
$color-purple: #8A40A7;
$color-yellow: #F2B542;

$facebook: #3b5998;
$twitter: #55acee;
$google: #dd4b39;
$github: #444;
$dribbble: #EC4D8B;
$linkedin: #1E6FBA;