{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{%
  set classes = [
    'block',
    'logo',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}



{% if site_logo %}
  <h1 {{ attributes.addClass(classes) }}>
    <a title="{{ 'Home'|t }}" rel="home" href="{{ path('<front>') }}">
      <span class="logo-icon-wrapper">
      <img class="logo-icon logo-icon--light" src="/themes/custom/appkit/logo.svg" alt="icon">
      <img class="logo-icon logo-icon--dark" src="/themes/custom/appkit/logo-dark.svg" alt="icon">
      
      </span>
      {% if site_name or site_slogan %}
      <span class="text"><span class="highlight">
        {% if site_name %}{{ site_name }}{% endif %}
      </span>
        {% if site_slogan %}{{ site_slogan }}{% endif %}
      </span>
      {% endif %}
    </a>
  </h1>
  {% endif %}


